@font-face {
	font-family: cormorant;
	src: url(fonts/cormorant.ttf);
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: cormorant, Serif;
}

header {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	padding: 8px 0;

}
header section {
	display: inline-block;
	min-width: 33%;
	margin: 0 auto; 
	font-family: cormorant, Serif;
	vertical-align: middle;
}
header section.logo{
	text-align: center;
}
header section address {
	font-style: normal;
	margin-top: 10px; 
}
header section address p {
	font-size: 18px;
	margin: 3px 0;	

}
header section.name p {
	font-style: normal;
	margin: 3px 0;
	font-size: 24px;	

}
header button {
	width: 180px;
	height: 25px;
	margin-top: 10px;
	color: #ffffff;
	background-color: #06276F;
	border: none;
}
header button:hover {	
	color: #06276F;
	background-color: #ffffff;
	border: 1px solid #06276F;
	cursor: pointer;
}
header button:focus {
	outline: none;
}



.feedback {
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;   
	z-index: 110;
	display: none;
}
.feedback section {
	max-width: 350px;
	max-height: 350px;
	width: 100%;
	height: 100%;
	margin: 100px auto;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 15px;
	position: relative;
}
.feedback section .close {
	border: none;
	position: absolute;
	top: 10px;
	right: 10px;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	text-align: center;
}
.feedback section .close:before {
	content: "\2612";
	font-size: 20px;
}
.feedback section .close:hover{
	cursor: pointer;
}


.feedback section > p:first-child {
	font-family: Arial;
	font-size: 22px;
	line-height: 90%;
	padding-top: 0;
}
.feedback section form p {
	font-family: Arial;
	font-size: 12px;
}
.feedback form input {
	width: 100%;
	max-width: 338px;
}


#dog {
	width: 100%;
	height: 39vw;
	background-image: url(img/dog-img.jpg);
	background-size: cover;	
	background-position: center center;
}
#dog section {
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	text-shadow: 0 1px 1px #000;
}
#dog .svp {
	position: relative;
	top:28px;
	left: 10px;
}
#dog .kbu {
	position: relative;
	top:30px;
	left: 8px;
}
#dog .svp p {
	font-family: Arial;
	font-size: 72px;
	margin: -10px;
}
#dog .kbu p {
	font-family: cormorant;
	font-size: 38px;
	color: #000080;
	margin: -5px;
}

.nav {
	background-color: #3D3D3D;
	min-height: 45px;
	width: 100%;
	border-top: 1px solid #ffffff;
}
.nav nav {
	max-width: 940px;
	width: 100%;
	margin: 11px auto;
	text-align: center; 
}
.nav nav a {
	text-decoration: none;
	color: #fff;
}
.nav nav a:hover {
	color: #000;
}
.nav nav span {
	font-family: Arial;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	margin: 0 10px;
	padding-bottom: 3px;
	color: #fff;
}
.nav nav span:hover {
	cursor: pointer;
	background-color: #fff;
	color: #000;
}



.info section {
	vertical-align: top;
	margin-top: 40px;
}
.infograf {
	display: inline-block;
	width: 170px;
	margin: 0 auto;
	height: 200px;
}
.infograf section {
	width: 120px;
	height: 120px;
	border: 1px solid #ccc;
	border-radius: 60px;
	margin: 0 auto;
	position: relative;
}
.infograf section section {
	background-color: #F2F2F2;
	border: none;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: absolute;
	top:9px;
	left: 9px;
	font-size: 70px;
	color: #06276F;
	vertical-align: middle;
}
.infograf section section i {
	padding-top: 15px;	
}
.infograf p {
	font-size: 24px;
	font-weight: bold;
	text-align: center;

}



.vet, .info {
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.vet p {
	font-size: 18px;
	text-align: left;
}
.vet p.underline {
	text-align: center;
	text-decoration: underline;
}
.vet_foto {
	width: 270px;
	height: auto;
	display: inline-block;
	padding: 10px;
	border: 1px solid #ccc;
	margin: 10px 8px;
}
.vet_foto .dark {
	background-color: #000;
}
.vet_foto img {
	width: 100%;
	vertical-align: middle;
}
.vet_foto img:hover {
	opacity: 0.5;
}


.haski .foto_haski {
	float: left;
	border: 1px solid #ccc;
	padding: 10px;
	margin-right: 20px;
	margin-bottom: 70px;  
}
.haski p, {
	font-size: 18px;
	text-align: left;
}
.haski h3.tel {
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
}
.haski h3.haski_h3 {
	margin: 0 auto;
	font-size: 24px;
	max-width: 550px;
}
.haski {
	text-align: center;
}


.naprav, .haski {
	max-width: 940px;
	width: 100%;
	margin: 100px auto 0 auto;	
}
.naprav h2, .haski h2, .vet h2 {
	font-size: 48px;
	font-weight: normal;
	text-align: center;
	line-height: 70%;
	margin-bottom: 10px;	
}
.naprav h3, .haski h3 {
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	color: #000080;
	 	
}
.naprav section {
	margin-top: 50px;
}
.naprav section img {
	float: left;
}
.clear {
	clear: both;
}
.naprav ul li {
	list-style-type: none;
	font-size: 22px;
}
.naprav ul li span {
	color: #000080;
	font-weight: bold;
}
.naprav section:last-child{
	text-align: center;
	max-width: 710px;
	width: 100%;
	margin: 30px auto;
}
.naprav button, .haski button, .info button {
	width: 450px;
	height: 60px;
	color: #ffffff;
	font-size: 20px;
	background-color: #06276F;
	border: none;
	margin-top: 20px; 
}
.naprav button:hover, .haski button:hover, .info button:hover {
	color: #06276F;
	background-color: #ffffff;
	border: 1px solid #06276F;
	cursor: pointer;
}



/*Блок Заявка*/
.order {
	width: 100%;
	height: 550px;
	background-image: url(img/cat-img.jpg);
	background-position: center center;
	background-size: 100%;
	border-bottom: 1px solid #ffffff;
}
.order section {
	width: 940px;
	margin: 0 auto;
	position: relative;
}
.order section .order_window {
	width: 320px;
	height: 420px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: relative;
	top:30px;
	margin: 0;
	padding: 30px;
}
.order_window p {
	color: #06276F;
	margin: 0;
	font-size: 18px;
}
.order_window p:first-child {
	color: #666;
	margin: 4px 0;
	font-size: 24px;
}
.center {
	text-align: center;
}

.order section .order_window form p {
	font-family: Arial;
	font-size: 12px;
	width: 100%;
	color: #000;
}
 form input {
	height: 30px;
	padding-left: 10px;
	color: #000;
	font-size: 12px;
	border: 1px solid #ccc;
	width: 308px;
}
 form button {
	width: 100%;
	height: 60px;
	color: #ffffff;
	font-size: 20px;
	background-color: #06276F;
	border: none;
	margin-top: 20px; 
}
 form button:hover {
	color: #06276F;
	background-color: #ffffff;
	border: 2px solid #06276F;
	cursor: pointer;
}
.order_window form p, .feedback form p {
	margin: 20px 0 5px 0;
}



footer {
	position: relative;
}

footer .map iframe{
	width: 100%;
	height: 500px;

}

footer .contacts {
	position: absolute;
	width: 400px;
	/*height: 200px;*/
	background-color: rgba(255,255,255,0.8); 
	top:100px;
	right: 100px;
	box-shadow: 0 0 10px -3px #ccc;
	border: 1px solid #ccc;
	padding: 30px;
}
footer .contacts p:first-child{
	font-size: 24px;
}
footer .contacts p{
	margin: 3px 0 0 0;
}
footer .contacts p.tel{
	margin-top: 15px;
}